h1{
font-size: 250%;
  font-family: cursive;
color: #e60000;
text-align: center;
}

h2{
font-size:150%;
   font-family: cursive;
color:#ffffff;
padding-left: 15px;
}


h3{
font-size:150%;
   font-family: cursive;
color:#ffffff;
padding-left: 15px;
}

p{
color:#ffffff;
   font-family: cursive;
}
