body {
background-image: url("link de la imagen");
background-size: cover;
background-position: center;
}

h1{
font-size: 250%;
color: white;
text-align: center;
}

h2{
font-size:150%;
color: white;
padding-left: 15px;
}

p{
color: white;
}
