	<body style="color: white;">
		
		<style>

body {

  background-image: url("https://static.vecteezy.com/system/resources/previews/020/028/065/original/snt-abstract-technology-circle-setting-logo-design-on-black-background-snt-creative-initials-letter-logo-concept-vector.jpg");

  background-size: cover;

  background-position: center;

}

</style>
